<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onlinevoting"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name="com.onlinevoting.GlobalClass"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.onlinevoting.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.onlinevoting.Home"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.onlinevoting.VoterReg"
            android:label="@string/title_activity_voter_reg" >
        </activity>
        <activity
            android:name="com.onlinevoting.UserLogin"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.onlinevoting.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.onlinevoting.Adminlogin"
            android:label="@string/title_activity_adminlogin" >
        </activity>
        <activity
            android:name="com.onlinevoting.Vreg"
            android:label="@string/title_activity_vreg" >
        </activity>
        <activity
            android:name="com.onlinevoting.MainActivity1"
            android:label="@string/title_activity_main_activity1" >
        </activity>
        <activity
            android:name="com.onlinevoting.AdminLogin"
            android:label="@string/title_activity_admin_login" >
        </activity>
        <activity
            android:name="com.onlinevoting.UserHome"
            android:label="@string/title_activity_user_home" >
        </activity>
        <activity
            android:name="com.onlinevoting.HomeAdmin"
            android:label="@string/title_activity_home_admin" >
        </activity>
        <activity
            android:name="com.onlinevoting.CastVote"
            android:label="@string/title_activity_cast_vote" >
        </activity>
        <activity
            android:name="com.onlinevoting.AdminHome"
            android:label="@string/title_activity_admin_home" >
        </activity>
        <activity
            android:name="com.onlinevoting.VoterInfo"
            android:label="@string/title_activity_voter_info" >
        </activity>
        <activity
            android:name="com.onlinevoting.VotingInfo"
            android:label="@string/title_activity_voting_info" >
        </activity>
        <activity
            android:name="com.onlinevoting.Ulogin"
            android:label="@string/title_activity_ulogin" >
        </activity>
        <activity
            android:name="com.onlinevoting.V"
            android:label="@string/title_activity_v" >
        </activity>
        <activity
            android:name="com.onlinevoting.AddCandidate"
            android:label="@string/title_activity_add_candidate" >
        </activity>
        <activity
            android:name="com.onlinevoting.Checkstatus"
            android:label="@string/title_activity_checkstatus" >
        </activity>
    </application>

</manifest>
